* {
  font-family: Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
}

main {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--space-wide);
  background-color: var(--text-bg-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

subheading {
  display: block;
  font-size: var(--subheading-size);
}

aside {
  border: var(--border-width) solid var(--border-color);
  background-color: var(--emph-bg-color);
  padding: var(--vertical-space) var(--horizontal-space);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;

  p {
    margin: 0;

    &:last-child {
      margin-left: var(--horizontal-space);
    }
  }
}
