* {
  font-family: Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
}

main {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--large-space);
  background-color: var(--text-bg-color);

  p, li {
    font-size: var(--font-size);
  }

  p {
    margin: var(--medium-large-space) 0;
  }
}

footer {
  color: var(--inverse-text-color);
  background-color: var(--inverse-bg-color);
  text-align: center;
  font-size: var(--font-size);
  padding: var(--large-space);
  margin-top: var(--large-space);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}
h1 {
  font-size: var(--h1-font-size);
  margin-bottom: var(--medium-large-space);
}
h2 {
  font-size: var(--h2-font-size);
  margin-top: var(--large-space);
  border-bottom: 2px solid var(--divider-color);
}
h3 {
  font-size: var(--h3-font-size);
  margin-top: var(--large-space);
}
h4 {
  font-size: var(--h4-font-size);
}
subheading {
  display: block;
  font-size: var(--subheading-font-size);
}

aside {
  border: var(--border-width) solid var(--border-color);
  background-color: var(--emph-bg-color);
  padding: var(--small-space) var(--medium-space);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;

  p {
    margin: 0;

    &:last-child {
      margin-left: var(--medium-space);
    }
  }
}

.anchor {
  font-size: 70%;
  text-decoration: none;
  position: absolute;
  float: left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.7;
  opacity: 0;
}
h2 .anchor {
  margin-left: -2.7rem;
}
h3 .anchor {
  margin-left: -2.3rem;
}
h4 .anchor {
  margin-left: -1.7rem;
}
.anchor:hover, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor {
  opacity: 1;
}
