:root {
  --bg-color: #f5d7d4;
  --text-color: black;
  --link-color: #2929bb;
  --visited-link-color: #8b1a34;
  --alt-link-color: #e9c879;
  --alt-visited-link-color: #f79b90;
  --text-bg-color: #fffaf9;
  --emph-bg-color: #ffd8d4;
  --inverse-bg-color: #5d0c0c;
  --inverse-text-color: #fffaf9;
  --border-color: salmon;
  --divider-color: #ef6b5c;
  --heading-color: #770000;
  --font-size: 13pt;
  --h1-font-size: 36pt;
  --h2-font-size: 30pt;
  --h3-font-size: 22pt;
  --h4-font-size: 14pt;
  --subheading-font-size: 75%;
  --max-content-width: 70rem;
  --border-width: 0.1rem;
  --border-radius: 0.4rem;
  --small-space: 0.5rem;
  --medium-space: 1rem;
  --medium-large-space: 1.5rem;
  --large-space: 3rem;
}

